src/main/resources/SIEMember.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C XML Schema generated by XMLSpy v2018 rel. 2 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.eldoinc.com/XMLSchema/TypeLibrary" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.eldoinc.com/XMLSchema/TypeLibrary" schemaLocation="JavelinaTypeLibrary.xsd"/>
	<xs:element name="Member">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SubmitterName" type="xs:string"/>
				<xs:element name="SubmitterID" type="xs:string"/>
				<xs:element ref="EmployeeRecordsList" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="EmployeeCoverageList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="EmployeeCoverage" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="EmployeeCoverage">
		<xs:complexType>
			<xs:sequence>
				<!-- Employee Eligibility Information -->
				<xs:element name="ClientLocation"/>
				<xs:element name="Department"/>
				<xs:element name="EmploymentBeginDate"/>
				<xs:element name="CovgEffectiveDate"/>
				<xs:element name="Status"/>
				<xs:element name="Lifestyle"/>
				<xs:element name="IndRenewalDate"/>
				<xs:element name="TerminationReason"/>
				<xs:element name="TerminationDate"/>
				<xs:element name="ReinstatementReason"/>
				<xs:element name="CobraReason"/>
				<xs:element name="Medicare"/>
				<xs:element name="LaseredStopLoss"/>
				<xs:element name="MemberLaserAmtList">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="MemberLaserAmt" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="LaserAmount"/>
										<xs:element name="ReinsuranceLimit"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ApplyStopLossContractMax"/>
				<xs:element name="StopLossContractMaxCap"/>
				<xs:element name="StopLossContract"/>
				<xs:element name="StopLossAmount"/>
				<xs:element name="PartyViewMyInfo"/>
				<xs:element name="PartyDoNotDisplayAlert"/>
				<xs:element name="BillIndividual"/>
				<xs:element name="ConvertedRecord"/>
				<!-- Employee Employment Information -->
				<xs:element name="EmploymentStatus"/>
				<xs:element name="EmploymentEndDate"/>
				<xs:element name="FrequencyOfPay"/>
				<xs:element name="Salary"/>
				<xs:element name="WorkHours"/>
				<xs:element name="DisabilityStatus"/>
				<xs:element name="DisabilityBeginDate"/>
				<xs:element name="DisabilityEndDate"/>
				<!-- Employee Medical Coverage -->
				<xs:element name="MBenefitPlan"/>
				<xs:element name="MCoverageLevel"/>
				<xs:element name="MBillPlan"/>
				<xs:element name="MTier"/>
				<xs:element name="MBillingFactors">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="MBillingFactor">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="MiscBillingFactor" type="xs:string"/>
										<xs:element name="BillingFactorEffectiveDate" type="xs:date"/>
										<xs:element name="BillingFactorTerminationDate" type="xs:date"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="MNetworkChoice"/>
				<xs:element name="MCalculateAdjustments"/>
				<xs:element name="MAdjustAsOf"/>
				<xs:element name="MActionExisManualAdjust"/>
				<xs:element name="MExpectedBillingFromDate"/>
				<xs:element name="MExpectedBillingThruDate"/>
				<xs:element name="MPendClaims"/>
				<xs:element name="MPendReason"/>
				<xs:element name="MConnectorID"/>
				<xs:element name="MProviderType"/>
				<xs:element name="MExistingPatient"/>
				<!-- Medical Billing Options - Used ONLY for Individually Billed Employees -->
				<xs:element name="MBillingMode"/>
				<xs:element name="MFirstBillDay"/>
				<xs:element name="MSecondBillDay"/>
				<xs:element name="MLastBillDate"/>
				<xs:element name="MNextBillDate"/>
				<xs:element name="MRateGuaranteeFromDate"/>
				<xs:element name="MRateGuaranteeThruDate"/>
				<xs:element name="MSellingBroker"/>
				<!-- Medical COB Information -->
				<xs:element name="MApplyCOB"/>
				<xs:element name="MPayerResponsibility"/>
				<xs:element name="MCOBPolicyNumber"/>
				<xs:element name="MLastInvestigatedDate"/>
				<xs:element name="MInvestigatedAfter"/>
				<xs:element name="MCOBRuleset"/>
				<xs:element name="MIgnoreClaimCOBFlag"/>
				<xs:element name="MOtherCovgInJavelina"/>
				<xs:element name="MCOBPatientCertificate"/>
				<xs:element name="MCOBPatientConversionid"/>
				<!-- Pass "Patient Conversion ID in COBPatientconversion id field" for Conversions when 'OtherCovginJavelina' is Y -->
				<xs:element name="MOtherCarrier"/>
				<!-- Medical ID Card Information -->
				<xs:element name="MPrintIDCard"/>
				<xs:element name="MIDCardFormat"/>
				<xs:element name="MCardPrintReason"/>
				<!-- Start of Employee Medical Individual Plan Year Maximums -->
				<xs:element name="MIndPlanMaxList" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="IndPlanMaxOpt" type="xs:boolean"/>
							<!-- BenefitScheduleType can be D -->
							<xs:element name="IIndPlanMaxAmts" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="BenefitScheduleType" type="xs:string"/>
										<xs:element name="CoInsurancePercent" type="xs:integer"/>
										<xs:element name="DedIndividualAmount" type="xs:decimal"/>
										<xs:element name="DedFamilyAmount" type="xs:decimal"/>
										<xs:element name="IndvOutOfPocketAmount" type="xs:decimal"/>
										<xs:element name="FamilyOutOfPocketAmount" type="xs:decimal"/>
										<xs:element name="MaxIndvAnnualBenefitAmount" type="xs:decimal"/>
										<xs:element name="MaxFamAnnualBenefitAmount" type="xs:decimal"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<!-- BenefitScheduleType can be O -->
							<xs:element name="OIndPlanMaxAmts" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="BenefitScheduleType" type="xs:string"/>
										<xs:element name="CoInsurancePercent" type="xs:integer"/>
										<xs:element name="DedIndividualAmount" type="xs:decimal"/>
										<xs:element name="DedFamilyAmount" type="xs:decimal"/>
										<xs:element name="IndvOutOfPocketAmount" type="xs:decimal"/>
										<xs:element name="FamilyOutOfPocketAmount" type="xs:decimal"/>
										<xs:element name="MaxIndvAnnualBenefitAmount" type="xs:decimal"/>
										<xs:element name="MaxFamAnnualBenefitAmount" type="xs:decimal"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<!-- BenefitScheduleType can be P -->
							<xs:element name="PIndPlanMaxAmts" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="BenefitScheduleType" type="xs:string"/>
										<xs:element name="CoInsurancePercent" type="xs:integer"/>
										<xs:element name="DedIndividualAmount" type="xs:decimal"/>
										<xs:element name="DedFamilyAmount" type="xs:decimal"/>
										<xs:element name="IndvOutOfPocketAmount" type="xs:decimal"/>
										<xs:element name="FamilyOutOfPocketAmount" type="xs:decimal"/>
										<xs:element name="MaxIndvAnnualBenefitAmount" type="xs:decimal"/>
										<xs:element name="MaxFamAnnualBenefitAmount" type="xs:decimal"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<!-- Start of Override Plan Exceptions for Annual Maximums -->
							<xs:element name="IndPlanExcforAnnMaxList" maxOccurs="1"/>
							<xs:element name="IndPlanExcforAnnMax" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CodeOrCategory" type="xs:string"/>
										<xs:element name="ExcepBasedOn" type="xs:string"/>
										<!-- BenefitScheduleType can be D -->
										<xs:element name="IIndPlanExcforAnnMax" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="BenefitScheduleType" type="xs:string"/>
													<xs:element name="IndiPerAnnualPmtLmt" type="xs:decimal"/>
													<xs:element name="FmlyPerAnnualPmtLmt" type="xs:decimal"/>
													<xs:element name="IndiPerAnnualVisLmt" type="xs:integer"/>
													<xs:element name="FmlyPerAnnualVisLmt" type="xs:integer"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<!-- BenefitScheduleType can be O  -->
										<xs:element name="OIndPlanExcforAnnMax" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="BenefitScheduleType" type="xs:string"/>
													<xs:element name="IndiPerAnnualPmtLmt" type="xs:decimal"/>
													<xs:element name="FmlyPerAnnualPmtLmt" type="xs:decimal"/>
													<xs:element name="IndiPerAnnualVisLmt" type="xs:integer"/>
													<xs:element name="FmlyPerAnnualVisLmt" type="xs:integer"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<!-- BenefitScheduleType can be P -->
										<xs:element name="PIndPlanExcforAnnMax" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="BenefitScheduleType" type="xs:string"/>
													<xs:element name="IndiPerAnnualPmtLmt" type="xs:decimal"/>
													<xs:element name="FmlyPerAnnualPmtLmt" type="xs:decimal"/>
													<xs:element name="IndiPerAnnualVisLmt" type="xs:integer"/>
													<xs:element name="FmlyPerAnnualVisLmt" type="xs:integer"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<!-- End of Override Plan Exceptions for Annual Maximums -->
							<!-- Start of Plan CoPayments for Annual Maximums -->
							<!-- BenefitScheduleType can be D -->
							<xs:element name="IPlanCoPay" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="BenefitScheduleType" type="xs:string"/>
										<xs:element name="AmountPerConfinement" type="xs:decimal"/>
										<xs:element name="AmountPerVisit" type="xs:decimal"/>
										<xs:element name="IndLabCoPayAmt" type="xs:decimal"/>
										<xs:element name="FacLabCoPayAmt" type="xs:decimal"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<!-- End of Plan CoPayments for Annual Maximums -->
							<!-- BenefitScheduleType can be  O  -->
							<xs:element name="OPlanCoPay" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="BenefitScheduleType" type="xs:string"/>
										<xs:element name="AmountPerConfinement" type="xs:decimal"/>
										<xs:element name="AmountPerVisit" type="xs:decimal"/>
										<xs:element name="IndLabCoPayAmt" type="xs:decimal"/>
										<xs:element name="FacLabCoPayAmt" type="xs:decimal"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<!-- End of Plan CoPayments for Annual Maximums -->
							<!-- BenefitScheduleType can be P -->
							<xs:element name="PPlanCoPay" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="BenefitScheduleType" type="xs:string"/>
										<xs:element name="AmountPerConfinement" type="xs:decimal"/>
										<xs:element name="AmountPerVisit" type="xs:decimal"/>
										<xs:element name="IndLabCoPayAmt" type="xs:decimal"/>
										<xs:element name="FacLabCoPayAmt" type="xs:decimal"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<!-- End of Plan CoPayments for Annual Maximums -->
							<!--Start of Override Copayment Exceptions for Annual Maximums -->
							<xs:element name="IndCoPayExcList" maxOccurs="1"/>
							<xs:element name="IndCoPayExc" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<!-- BenefitScheduleType can be D or O or P -->
										<xs:element name="CategoryDefinition" type="xs:string"/>
										<xs:element name="PlanCoPayAmt" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ICoPaymentAmount" type="xs:decimal"/>
													<xs:element name="OCoPaymentAmount" type="xs:decimal"/>
													<xs:element name="PCoPaymentAmount" type="xs:decimal"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<!-- End of Override Copayment Exceptions for Annual Maximums -->
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<!-- End of Employee Medical Individual Plan Year Maximums Section-->
				<!-- Employee Dental Coverage -->
				<xs:element name="DBenefitPlan"/>
				<xs:element name="DCoverageLevel"/>
				<xs:element name="DBillPlan"/>
				<xs:element name="DTier"/>
				<xs:element name="DBillingFactors">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DBillingFactor">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="MiscBillingFactor" type="xs:string"/>
										<xs:element name="BillingFactorEffectiveDate" type="xs:date"/>
										<xs:element name="BillingFactorTerminationDate" type="xs:date"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="DNetworkChoice"/>
				<xs:element name="DCalculateAdjustments"/>
				<xs:element name="DAdjustAsOf"/>
				<xs:element name="DActionExisManualAdjust"/>
				<xs:element name="DExpectedBillingFromDate"/>
				<xs:element name="DExpectedBillingThruDate"/>
				<xs:element name="DPendClaims"/>
				<xs:element name="DPendReason"/>
				<xs:element name="DConnectorID"/>
				<xs:element name="DProviderType"/>
				<xs:element name="DExistingPatient"/>
				<!-- Dental Billing Options - Used ONLY for Individually Billed Employees -->
				<xs:element name="DBillingMode"/>
				<xs:element name="DFirstBillDay"/>
				<xs:element name="DSecondBillDay"/>
				<xs:element name="DLastBillDate"/>
				<xs:element name="DNextBillDate"/>
				<xs:element name="DRateGuaranteeFromDate"/>
				<xs:element name="DRateGuaranteeThruDate"/>
				<xs:element name="DSellingBroker"/>
				<!-- Dental COB Information -->
				<xs:element name="DApplyCOB"/>
				<xs:element name="DPayerResponsibility"/>
				<xs:element name="DCOBPolicyNumber"/>
				<xs:element name="DLastInvestigatedDate"/>
				<xs:element name="DInvestigatedAfter"/>
				<xs:element name="DCOBRuleset"/>
				<xs:element name="DIgnoreClaimCOBFlag"/>
				<xs:element name="DOtherCovgInJavelina"/>
				<xs:element name="DCOBPatientCertificate"/>
				<xs:element name="DCOBPatientConversionid"/>
				<!-- Pass "Patient Conversion ID in COBPatientconversion id field" for Conversions when 'OtherCovginJavelina' is Y -->
				<xs:element name="DOtherCarrier"/>
				<!-- Dental ID Card Information -->
				<xs:element name="DPrintIDCard"/>
				<xs:element name="DIDCardFormat"/>
				<xs:element name="DCardPrintReason"/>
				<!-- Start of Employee Dental Individual Plan Year Maximums -->
				<xs:element name="DIndPlanMaxList" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="IndPlanMaxOpt" type="xs:boolean"/>
							<!-- BenefitScheduleType can be D -->
							<xs:element name="IIndPlanMaxAmts" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="BenefitScheduleType" type="xs:string"/>
										<xs:element name="CoInsurancePercent" type="xs:integer"/>
										<xs:element name="DedIndividualAmount" type="xs:decimal"/>
										<xs:element name="DedFamilyAmount" type="xs:decimal"/>
										<xs:element name="IndvOutOfPocketAmount" type="xs:decimal"/>
										<xs:element name="FamilyOutOfPocketAmount" type="xs:decimal"/>
										<xs:element name="MaxIndvAnnualBenefitAmount" type="xs:decimal"/>
										<xs:element name="MaxFamAnnualBenefitAmount" type="xs:decimal"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<!-- BenefitScheduleType can be O -->
							<xs:element name="OIndPlanMaxAmts" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="BenefitScheduleType" type="xs:string"/>
										<xs:element name="CoInsurancePercent" type="xs:integer"/>
										<xs:element name="DedIndividualAmount" type="xs:decimal"/>
										<xs:element name="DedFamilyAmount" type="xs:decimal"/>
										<xs:element name="IndvOutOfPocketAmount" type="xs:decimal"/>
										<xs:element name="FamilyOutOfPocketAmount" type="xs:decimal"/>
										<xs:element name="MaxIndvAnnualBenefitAmount" type="xs:decimal"/>
										<xs:element name="MaxFamAnnualBenefitAmount" type="xs:decimal"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<!-- BenefitScheduleType can be P -->
							<xs:element name="PIndPlanMaxAmts" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="BenefitScheduleType" type="xs:string"/>
										<xs:element name="CoInsurancePercent" type="xs:integer"/>
										<xs:element name="DedIndividualAmount" type="xs:decimal"/>
										<xs:element name="DedFamilyAmount" type="xs:decimal"/>
										<xs:element name="IndvOutOfPocketAmount" type="xs:decimal"/>
										<xs:element name="FamilyOutOfPocketAmount" type="xs:decimal"/>
										<xs:element name="MaxIndvAnnualBenefitAmount" type="xs:decimal"/>
										<xs:element name="MaxFamAnnualBenefitAmount" type="xs:decimal"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<!-- Start of Override Plan Exceptions for Annual Maximums -->
							<xs:element name="IndPlanExcforAnnMaxList" maxOccurs="1"/>
							<xs:element name="IndPlanExcforAnnMax" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CodeOrCategory" type="xs:string"/>
										<xs:element name="ExcepBasedOn" type="xs:string"/>
										<!-- BenefitScheduleType can be D -->
										<xs:element name="IIndPlanExcforAnnMax" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="BenefitScheduleType" type="xs:string"/>
													<xs:element name="IndiPerAnnualPmtLmt" type="xs:decimal"/>
													<xs:element name="FmlyPerAnnualPmtLmt" type="xs:decimal"/>
													<xs:element name="IndiPerAnnualVisLmt" type="xs:integer"/>
													<xs:element name="FmlyPerAnnualVisLmt" type="xs:integer"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<!-- BenefitScheduleType can be O  -->
										<xs:element name="OIndPlanExcforAnnMax" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="BenefitScheduleType" type="xs:string"/>
													<xs:element name="IndiPerAnnualPmtLmt" type="xs:decimal"/>
													<xs:element name="FmlyPerAnnualPmtLmt" type="xs:decimal"/>
													<xs:element name="IndiPerAnnualVisLmt" type="xs:integer"/>
													<xs:element name="FmlyPerAnnualVisLmt" type="xs:integer"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<!-- BenefitScheduleType can be P -->
										<xs:element name="PIndPlanExcforAnnMax" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="BenefitScheduleType" type="xs:string"/>
													<xs:element name="IndiPerAnnualPmtLmt" type="xs:decimal"/>
													<xs:element name="FmlyPerAnnualPmtLmt" type="xs:decimal"/>
													<xs:element name="IndiPerAnnualVisLmt" type="xs:integer"/>
													<xs:element name="FmlyPerAnnualVisLmt" type="xs:integer"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<!-- End of Override Plan Exceptions for Annual Maximums -->
							<!-- Start of Plan CoPayments for Annual Maximums -->
							<!-- BenefitScheduleType can be D -->
							<xs:element name="IPlanCoPay" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="BenefitScheduleType" type="xs:string"/>
										<xs:element name="AmountPerConfinement" type="xs:decimal"/>
										<xs:element name="AmountPerVisit" type="xs:decimal"/>
										<xs:element name="IndLabCoPayAmt" type="xs:decimal"/>
										<xs:element name="FacLabCoPayAmt" type="xs:decimal"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<!-- End of Plan CoPayments for Annual Maximums -->
							<!-- BenefitScheduleType can be  O  -->
							<xs:element name="OPlanCoPay" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="BenefitScheduleType" type="xs:string"/>
										<xs:element name="AmountPerConfinement" type="xs:decimal"/>
										<xs:element name="AmountPerVisit" type="xs:decimal"/>
										<xs:element name="IndLabCoPayAmt" type="xs:decimal"/>
										<xs:element name="FacLabCoPayAmt" type="xs:decimal"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<!-- End of Plan CoPayments for Annual Maximums -->
							<!-- BenefitScheduleType can be P -->
							<xs:element name="PPlanCoPay" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="BenefitScheduleType" type="xs:string"/>
										<xs:element name="AmountPerConfinement" type="xs:decimal"/>
										<xs:element name="AmountPerVisit" type="xs:decimal"/>
										<xs:element name="IndLabCoPayAmt" type="xs:decimal"/>
										<xs:element name="FacLabCoPayAmt" type="xs:decimal"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<!-- End of Plan CoPayments for Annual Maximums -->
							<!--Start of Override Copayment Exceptions for Annual Maximums -->
							<xs:element name="IndCoPayExcList" maxOccurs="1"/>
							<xs:element name="IndCoPayExc" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<!-- BenefitScheduleType can be D or O or P -->
										<xs:element name="CategoryDefinition" type="xs:string"/>
										<xs:element name="PlanCoPayAmt" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ICoPaymentAmount" type="xs:decimal"/>
													<xs:element name="OCoPaymentAmount" type="xs:decimal"/>
													<xs:element name="PCoPaymentAmount" type="xs:decimal"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<!-- End of Override Copayment Exceptions for Annual Maximums -->
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<!-- End of Employee Individual Plan Year Maximums Section-->
				<!-- Employee Vision Coverage -->
				<xs:element name="VBenefitPlan"/>
				<xs:element name="VCoverageLevel"/>
				<xs:element name="VBillPlan"/>
				<xs:element name="VTier"/>
				<xs:element name="VBillingFactors">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="VBillingFactor">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="MiscBillingFactor" type="xs:string"/>
										<xs:element name="BillingFactorEffectiveDate" type="xs:date"/>
										<xs:element name="BillingFactorTerminationDate" type="xs:date"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="VNetworkChoice"/>
				<xs:element name="VCalculateAdjustments"/>
				<xs:element name="VAdjustAsOf"/>
				<xs:element name="VActionExisManualAdjust"/>
				<xs:element name="VExpectedBillingFromDate"/>
				<xs:element name="VExpectedBillingThruDate"/>
				<xs:element name="VPendClaims"/>
				<xs:element name="VPendReason"/>
				<xs:element name="VConnectorID"/>
				<xs:element name="VProviderType"/>
				<xs:element name="VExistingPatient"/>
				<!-- Vision Billing Options - Used ONLY for Individually Billed Employees -->
				<xs:element name="VBillingMode"/>
				<xs:element name="VFirstBillDay"/>
				<xs:element name="VSecondBillDay"/>
				<xs:element name="VLastBillDate"/>
				<xs:element name="VNextBillDate"/>
				<xs:element name="VRateGuaranteeFromDate"/>
				<xs:element name="VRateGuaranteeThruDate"/>
				<xs:element name="VSellingBroker"/>
				<!-- Vision COB Information -->
				<xs:element name="VApplyCOB"/>
				<xs:element name="VPayerResponsibility"/>
				<xs:element name="VCOBPolicyNumber"/>
				<xs:element name="VLastInvestigatedDate"/>
				<xs:element name="VInvestigatedAfter"/>
				<xs:element name="VCOBRuleset"/>
				<xs:element name="VIgnoreClaimCOBFlag"/>
				<xs:element name="VOtherCovgInJavelina"/>
				<xs:element name="VCOBPatientCertificate"/>
				<xs:element name="VCOBPatientConversionid"/>
				<!-- Pass "Patient Conversion ID in COBPatientconversion id field" for Conversions when 'OtherCovginJavelina' is Y -->
				<xs:element name="VOtherCarrier"/>
				<!-- Vision ID Card Information -->
				<xs:element name="VPrintIDCard"/>
				<xs:element name="VIDCardFormat"/>
				<xs:element name="VCardPrintReason"/>
				<!-- Start of Employee Vision Individual Plan Year Maximums -->
				<xs:element name="VIndPlanMaxList" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="IndPlanMaxOpt" type="xs:boolean"/>
							<!-- BenefitScheduleType can be D -->
							<xs:element name="IIndPlanMaxAmts" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="BenefitScheduleType" type="xs:string"/>
										<xs:element name="CoInsurancePercent" type="xs:integer"/>
										<xs:element name="DedIndividualAmount" type="xs:decimal"/>
										<xs:element name="DedFamilyAmount" type="xs:decimal"/>
										<xs:element name="IndvOutOfPocketAmount" type="xs:decimal"/>
										<xs:element name="FamilyOutOfPocketAmount" type="xs:decimal"/>
										<xs:element name="MaxIndvAnnualBenefitAmount" type="xs:decimal"/>
										<xs:element name="MaxFamAnnualBenefitAmount" type="xs:decimal"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<!-- BenefitScheduleType can be O -->
							<xs:element name="OIndPlanMaxAmts" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="BenefitScheduleType" type="xs:string"/>
										<xs:element name="CoInsurancePercent" type="xs:integer"/>
										<xs:element name="DedIndividualAmount" type="xs:decimal"/>
										<xs:element name="DedFamilyAmount" type="xs:decimal"/>
										<xs:element name="IndvOutOfPocketAmount" type="xs:decimal"/>
										<xs:element name="FamilyOutOfPocketAmount" type="xs:decimal"/>
										<xs:element name="MaxIndvAnnualBenefitAmount" type="xs:decimal"/>
										<xs:element name="MaxFamAnnualBenefitAmount" type="xs:decimal"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<!-- BenefitScheduleType can be P -->
							<xs:element name="PIndPlanMaxAmts" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="BenefitScheduleType" type="xs:string"/>
										<xs:element name="CoInsurancePercent" type="xs:integer"/>
										<xs:element name="DedIndividualAmount" type="xs:decimal"/>
										<xs:element name="DedFamilyAmount" type="xs:decimal"/>
										<xs:element name="IndvOutOfPocketAmount" type="xs:decimal"/>
										<xs:element name="FamilyOutOfPocketAmount" type="xs:decimal"/>
										<xs:element name="MaxIndvAnnualBenefitAmount" type="xs:decimal"/>
										<xs:element name="MaxFamAnnualBenefitAmount" type="xs:decimal"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<!-- Start of Override Plan Exceptions for Annual Maximums -->
							<xs:element name="IndPlanExcforAnnMaxList" maxOccurs="1"/>
							<xs:element name="IndPlanExcforAnnMax" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CodeOrCategory" type="xs:string"/>
										<xs:element name="ExcepBasedOn" type="xs:string"/>
										<!-- BenefitScheduleType can be D -->
										<xs:element name="IIndPlanExcforAnnMax" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="BenefitScheduleType" type="xs:string"/>
													<xs:element name="IndiPerAnnualPmtLmt" type="xs:decimal"/>
													<xs:element name="FmlyPerAnnualPmtLmt" type="xs:decimal"/>
													<xs:element name="IndiPerAnnualVisLmt" type="xs:integer"/>
													<xs:element name="FmlyPerAnnualVisLmt" type="xs:integer"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<!-- BenefitScheduleType can be O  -->
										<xs:element name="OIndPlanExcforAnnMax" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="BenefitScheduleType" type="xs:string"/>
													<xs:element name="IndiPerAnnualPmtLmt" type="xs:decimal"/>
													<xs:element name="FmlyPerAnnualPmtLmt" type="xs:decimal"/>
													<xs:element name="IndiPerAnnualVisLmt" type="xs:integer"/>
													<xs:element name="FmlyPerAnnualVisLmt" type="xs:integer"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<!-- BenefitScheduleType can be P -->
										<xs:element name="PIndPlanExcforAnnMax" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="BenefitScheduleType" type="xs:string"/>
													<xs:element name="IndiPerAnnualPmtLmt" type="xs:decimal"/>
													<xs:element name="FmlyPerAnnualPmtLmt" type="xs:decimal"/>
													<xs:element name="IndiPerAnnualVisLmt" type="xs:integer"/>
													<xs:element name="FmlyPerAnnualVisLmt" type="xs:integer"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<!-- End of Override Plan Exceptions for Annual Maximums -->
							<!-- Start of Plan CoPayments for Annual Maximums -->
							<!-- BenefitScheduleType can be D -->
							<xs:element name="IPlanCoPay" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="BenefitScheduleType" type="xs:string"/>
										<xs:element name="AmountPerConfinement" type="xs:decimal"/>
										<xs:element name="AmountPerVisit" type="xs:decimal"/>
										<xs:element name="IndLabCoPayAmt" type="xs:decimal"/>
										<xs:element name="FacLabCoPayAmt" type="xs:decimal"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<!-- End of Plan CoPayments for Annual Maximums -->
							<!-- BenefitScheduleType can be  O  -->
							<xs:element name="OPlanCoPay" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="BenefitScheduleType" type="xs:string"/>
										<xs:element name="AmountPerConfinement" type="xs:decimal"/>
										<xs:element name="AmountPerVisit" type="xs:decimal"/>
										<xs:element name="IndLabCoPayAmt" type="xs:decimal"/>
										<xs:element name="FacLabCoPayAmt" type="xs:decimal"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<!-- End of Plan CoPayments for Annual Maximums -->
							<!-- BenefitScheduleType can be P -->
							<xs:element name="PPlanCoPay" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="BenefitScheduleType" type="xs:string"/>
										<xs:element name="AmountPerConfinement" type="xs:decimal"/>
										<xs:element name="AmountPerVisit" type="xs:decimal"/>
										<xs:element name="IndLabCoPayAmt" type="xs:decimal"/>
										<xs:element name="FacLabCoPayAmt" type="xs:decimal"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<!-- End of Plan CoPayments for Annual Maximums -->
							<!--Start of Override Copayment Exceptions for Annual Maximums -->
							<xs:element name="IndCoPayExcList" maxOccurs="1"/>
							<xs:element name="IndCoPayExc" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<!-- BenefitScheduleType can be D or O or P -->
										<xs:element name="CategoryDefinition" type="xs:string"/>
										<xs:element name="PlanCoPayAmt" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ICoPaymentAmount" type="xs:decimal"/>
													<xs:element name="OCoPaymentAmount" type="xs:decimal"/>
													<xs:element name="PCoPaymentAmount" type="xs:decimal"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<!-- End of Override Copayment Exceptions for Annual Maximums -->
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<!-- End of Employee Vision Individual Plan Year Maximums Section-->
				<!-- Employee Prescription Coverage -->
				<xs:element name="PBenefitPlan"/>
				<xs:element name="PCoverageLevel"/>
				<xs:element name="PBillPlan"/>
				<xs:element name="PTier"/>
				<xs:element name="PBillingFactors">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PBillingFactor">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="MiscBillingFactor" type="xs:string"/>
										<xs:element name="BillingFactorEffectiveDate" type="xs:date"/>
										<xs:element name="BillingFactorTerminationDate" type="xs:date"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="PNetworkChoice"/>
				<xs:element name="PCalculateAdjustments"/>
				<xs:element name="PAdjustAsOf"/>
				<xs:element name="PActionExisManualAdjust"/>
				<xs:element name="PExpectedBillingFromDate"/>
				<xs:element name="PExpectedBillingThruDate"/>
				<xs:element name="PPendClaims"/>
				<xs:element name="PPendReason"/>
				<xs:element name="PConnectorID"/>
				<xs:element name="PProviderType"/>
				<xs:element name="PExistingPatient"/>
				<!-- Prescription Billing Options - Used ONLY for Individually Billed Employees -->
				<xs:element name="PBillingMode"/>
				<xs:element name="PFirstBillDay"/>
				<xs:element name="PSecondBillDay"/>
				<xs:element name="PLastBillDate"/>
				<xs:element name="PNextBillDate"/>
				<xs:element name="PRateGuaranteeFromDate"/>
				<xs:element name="PRateGuaranteeThruDate"/>
				<xs:element name="PSellingBroker"/>
				<!-- Prescription COB Information -->
				<xs:element name="PApplyCOB"/>
				<xs:element name="PPayerResponsibility"/>
				<xs:element name="PCOBPolicyNumber"/>
				<xs:element name="PLastInvestigatedDate"/>
				<xs:element name="PInvestigatedAfter"/>
				<xs:element name="PCOBRuleset"/>
				<xs:element name="PIgnoreClaimCOBFlag"/>
				<xs:element name="POtherCovgInJavelina"/>
				<xs:element name="PCOBPatientCertificate"/>
				<xs:element name="PCOBPatientConversionid"/>
				<!-- Pass "Patient Conversion ID in COBPatientconversion id field" for Conversions when 'OtherCovginJavelina' is Y -->
				<xs:element name="POtherCarrier"/>
				<!-- Prescription ID Card Information -->
				<xs:element name="PPrintIDCard"/>
				<xs:element name="PIDCardFormat"/>
				<xs:element name="PCardPrintReason"/>
				<!-- Start of Employee Prescription Individual Plan Year Maximums -->
				<xs:element name="PIndPlanMaxList" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="IndPlanMaxOpt" type="xs:boolean"/>
							<!-- BenefitScheduleType can be D -->
							<xs:element name="IIndPlanMaxAmts" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="BenefitScheduleType" type="xs:string"/>
										<xs:element name="CoInsurancePercent" type="xs:integer"/>
										<xs:element name="DedIndividualAmount" type="xs:decimal"/>
										<xs:element name="DedFamilyAmount" type="xs:decimal"/>
										<xs:element name="IndvOutOfPocketAmount" type="xs:decimal"/>
										<xs:element name="FamilyOutOfPocketAmount" type="xs:decimal"/>
										<xs:element name="MaxIndvAnnualBenefitAmount" type="xs:decimal"/>
										<xs:element name="MaxFamAnnualBenefitAmount" type="xs:decimal"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<!-- BenefitScheduleType can be O -->
							<xs:element name="OIndPlanMaxAmts" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="BenefitScheduleType" type="xs:string"/>
										<xs:element name="CoInsurancePercent" type="xs:integer"/>
										<xs:element name="DedIndividualAmount" type="xs:decimal"/>
										<xs:element name="DedFamilyAmount" type="xs:decimal"/>
										<xs:element name="IndvOutOfPocketAmount" type="xs:decimal"/>
										<xs:element name="FamilyOutOfPocketAmount" type="xs:decimal"/>
										<xs:element name="MaxIndvAnnualBenefitAmount" type="xs:decimal"/>
										<xs:element name="MaxFamAnnualBenefitAmount" type="xs:decimal"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<!-- BenefitScheduleType can be P -->
							<xs:element name="PIndPlanMaxAmts" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="BenefitScheduleType" type="xs:string"/>
										<xs:element name="CoInsurancePercent" type="xs:integer"/>
										<xs:element name="DedIndividualAmount" type="xs:decimal"/>
										<xs:element name="DedFamilyAmount" type="xs:decimal"/>
										<xs:element name="IndvOutOfPocketAmount" type="xs:decimal"/>
										<xs:element name="FamilyOutOfPocketAmount" type="xs:decimal"/>
										<xs:element name="MaxIndvAnnualBenefitAmount" type="xs:decimal"/>
										<xs:element name="MaxFamAnnualBenefitAmount" type="xs:decimal"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<!-- Start of Override Plan Exceptions for Annual Maximums -->
							<xs:element name="IndPlanExcforAnnMaxList" maxOccurs="1"/>
							<xs:element name="IndPlanExcforAnnMax" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CodeOrCategory" type="xs:string"/>
										<xs:element name="ExcepBasedOn" type="xs:string"/>
										<!-- BenefitScheduleType can be D -->
										<xs:element name="IIndPlanExcforAnnMax" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="BenefitScheduleType" type="xs:string"/>
													<xs:element name="IndiPerAnnualPmtLmt" type="xs:decimal"/>
													<xs:element name="FmlyPerAnnualPmtLmt" type="xs:decimal"/>
													<xs:element name="IndiPerAnnualVisLmt" type="xs:integer"/>
													<xs:element name="FmlyPerAnnualVisLmt" type="xs:integer"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<!-- BenefitScheduleType can be O  -->
										<xs:element name="OIndPlanExcforAnnMax" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="BenefitScheduleType" type="xs:string"/>
													<xs:element name="IndiPerAnnualPmtLmt" type="xs:decimal"/>
													<xs:element name="FmlyPerAnnualPmtLmt" type="xs:decimal"/>
													<xs:element name="IndiPerAnnualVisLmt" type="xs:integer"/>
													<xs:element name="FmlyPerAnnualVisLmt" type="xs:integer"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<!-- BenefitScheduleType can be P -->
										<xs:element name="PIndPlanExcforAnnMax" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="BenefitScheduleType" type="xs:string"/>
													<xs:element name="IndiPerAnnualPmtLmt" type="xs:decimal"/>
													<xs:element name="FmlyPerAnnualPmtLmt" type="xs:decimal"/>
													<xs:element name="IndiPerAnnualVisLmt" type="xs:integer"/>
													<xs:element name="FmlyPerAnnualVisLmt" type="xs:integer"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<!-- End of Override Plan Exceptions for Annual Maximums -->
							<!-- Start of Plan CoPayments for Annual Maximums -->
							<!-- BenefitScheduleType can be D -->
							<xs:element name="IPlanCoPay" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="BenefitScheduleType" type="xs:string"/>
										<xs:element name="AmountPerConfinement" type="xs:decimal"/>
										<xs:element name="AmountPerVisit" type="xs:decimal"/>
										<xs:element name="IndLabCoPayAmt" type="xs:decimal"/>
										<xs:element name="FacLabCoPayAmt" type="xs:decimal"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<!-- End of Plan CoPayments for Annual Maximums -->
							<!-- BenefitScheduleType can be  O  -->
							<xs:element name="OPlanCoPay" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="BenefitScheduleType" type="xs:string"/>
										<xs:element name="AmountPerConfinement" type="xs:decimal"/>
										<xs:element name="AmountPerVisit" type="xs:decimal"/>
										<xs:element name="IndLabCoPayAmt" type="xs:decimal"/>
										<xs:element name="FacLabCoPayAmt" type="xs:decimal"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<!-- End of Plan CoPayments for Annual Maximums -->
							<!-- BenefitScheduleType can be P -->
							<xs:element name="PPlanCoPay" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="BenefitScheduleType" type="xs:string"/>
										<xs:element name="AmountPerConfinement" type="xs:decimal"/>
										<xs:element name="AmountPerVisit" type="xs:decimal"/>
										<xs:element name="IndLabCoPayAmt" type="xs:decimal"/>
										<xs:element name="FacLabCoPayAmt" type="xs:decimal"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<!-- End of Plan CoPayments for Annual Maximums -->
							<!--Start of Override Copayment Exceptions for Annual Maximums -->
							<xs:element name="IndCoPayExcList" maxOccurs="1"/>
							<xs:element name="IndCoPayExc" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<!-- BenefitScheduleType can be D or O or P -->
										<xs:element name="CategoryDefinition" type="xs:string"/>
										<xs:element name="PlanCoPayAmt" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ICoPaymentAmount" type="xs:decimal"/>
													<xs:element name="OCoPaymentAmount" type="xs:decimal"/>
													<xs:element name="PCoPaymentAmount" type="xs:decimal"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<!-- End of Override Copayment Exceptions for Annual Maximums -->
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<!-- End of Employee Prescription Individual Plan Year Maximums Section-->
				<!-- Employee FLEX Coverage -->
				<xs:element name="FBenefitPlan"/>
				<xs:element name="FBillPlan"/>
				<xs:element name="FTier"/>
				<xs:element name="FBillingFactors">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="FBillingFactor">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="MiscBillingFactor" type="xs:string"/>
										<xs:element name="BillingFactorEffectiveDate" type="xs:date"/>
										<xs:element name="BillingFactorTerminationDate" type="xs:date"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="FCalculateAdjustments"/>
				<xs:element name="FAdjustAsOf"/>
				<xs:element name="FActionExisManualAdjust"/>
				<xs:element name="FExpectedBillingFromDate"/>
				<xs:element name="FExpectedBillingThruDate"/>
				<xs:element name="FPendClaims"/>
				<xs:element name="FPendReason"/>
				<!-- FLEX Billing Options - Used ONLY for Individually Billed Employees -->
				<xs:element name="FBillingMode"/>
				<xs:element name="FFirstBillDay"/>
				<xs:element name="FSecondBillDay"/>
				<xs:element name="FLastBillDate"/>
				<xs:element name="FNextBillDate"/>
				<xs:element name="FRateGuaranteeFromDate"/>
				<xs:element name="FRateGuaranteeThruDate"/>
				<xs:element name="FSellingBroker"/>
				<!-- Employee Short Term Disability -->
				<xs:element name="STDBenefitPlan"/>
				<xs:element name="STDBillPlan"/>
				<xs:element name="STDTier"/>
				<xs:element name="STDBillingFactors">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="STDBillingFactor">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="MiscBillingFactor" type="xs:string"/>
										<xs:element name="BillingFactorEffectiveDate" type="xs:date"/>
										<xs:element name="BillingFactorTerminationDate" type="xs:date"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="STDVolume"/>
				<xs:element name="STDCalculateAdjustments"/>
				<xs:element name="STDAdjustAsOf"/>
				<xs:element name="STDActionExisManualAdjust"/>
				<xs:element name="STDExpectedBillingFromDate"/>
				<xs:element name="STDExpectedBillingThruDate"/>
				<xs:element name="STDPendClaims"/>
				<xs:element name="STDPendReason"/>
				<!-- Short Term Disability Billing Options - Used ONLY for Individually Billed Employees -->
				<xs:element name="STDBillingMode"/>
				<xs:element name="STDFirstBillDay"/>
				<xs:element name="STDSecondBillDay"/>
				<xs:element name="STDLastBillDate"/>
				<xs:element name="STDNextBillDate"/>
				<xs:element name="STDRateGuaranteeFromDate"/>
				<xs:element name="STDRateGuaranteeThruDate"/>
				<xs:element name="STDSellingBroker"/>
				<!-- Employee Long Term Disability -->
				<xs:element name="LTDBenefitPlan"/>
				<xs:element name="LTDBillPlan"/>
				<xs:element name="LTDTier"/>
				<xs:element name="LTDBillingFactors">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="LTDBillingFactor">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="MiscBillingFactor" type="xs:string"/>
										<xs:element name="BillingFactorEffectiveDate" type="xs:date"/>
										<xs:element name="BillingFactorTerminationDate" type="xs:date"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="LTDVolume"/>
				<xs:element name="LTDCalculateAdjustments"/>
				<xs:element name="LTDAdjustAsOf"/>
				<xs:element name="LTDActionExisManualAdjust"/>
				<xs:element name="LTDExpectedBillingFromDate"/>
				<xs:element name="LTDExpectedBillingThruDate"/>
				<xs:element name="LTDPendClaims"/>
				<xs:element name="LTDPendReason"/>
				<!-- Long Term Disability Billing Options - Used ONLY for Individually Billed Employees -->
				<xs:element name="LTDBillingMode"/>
				<xs:element name="LTDFirstBillDay"/>
				<xs:element name="LTDSecondBillDay"/>
				<xs:element name="LTDLastBillDate"/>
				<xs:element name="LTDNextBillDate"/>
				<xs:element name="LTDRateGuaranteeFromDate"/>
				<xs:element name="LTDRateGuaranteeThruDate"/>
				<xs:element name="LTDSellingBroker"/>
				<!-- Employee Secondary Coverage - If more than one Secondary Coverage is available, repeat this section and enumerate the number. Example: SC2ProductName, SC3ProductName, etc.. -->
				<xs:element name="SC1ProductName"/>
				<xs:element name="SC1CoverageLevel"/>
				<xs:element name="SC1BillPlan"/>
				<xs:element name="SC1Tier"/>
				<xs:element name="SC1BillingFactors">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SC1BillingFactor">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="MiscBillingFactor" type="xs:string"/>
										<xs:element name="BillingFactorEffectiveDate" type="xs:date"/>
										<xs:element name="BillingFactorTerminationDate" type="xs:date"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="SC1Volume"/>
				<xs:element name="SC1CalculateAdjustments"/>
				<xs:element name="SC1AdjustAsOf"/>
				<xs:element name="SC1ActionExisManualAdjust"/>
				<xs:element name="SC1ExpectedBillingFromDate"/>
				<xs:element name="SC1ExpectedBillingThruDate"/>
				<!-- Secondary Coverage Billing Options - Used ONLY for Individually Billed Employees -->
				<xs:element name="SC1BillingMode"/>
				<xs:element name="SC1FirstBillDay"/>
				<xs:element name="SC1SecondBillDay"/>
				<xs:element name="SC1LastBillDate"/>
				<xs:element name="SC1NextBillDate"/>
				<xs:element name="SC1RateGuaranteeFrom"/>
				<xs:element name="SC1RateGuaranteeThru"/>
				<xs:element name="SC1SellingBroker"/>
				<!-- End of Secondary Coverage -->
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DependentCoverageList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DepCoverage" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DepCoverage">
		<xs:complexType>
			<xs:sequence>
				<!-- Dependent Eligibility Information -->
				<xs:element name="CovgEffectiveDate"/>
				<xs:element name="Status"/>
				<xs:element name="IndRenewalDate"/>
				<xs:element name="Lifestyle"/>
				<xs:element name="TerminationReason"/>
				<xs:element name="TerminationDate"/>
				<xs:element name="ReinstatementReason"/>
				<xs:element name="CobraReason"/>
				<xs:element name="Medicare"/>
				<xs:element name="LaseredStopLoss"/>
				<xs:element name="MemberLaserAmtList">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="MemberLaserAmt">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="LaserAmount"/>
										<xs:element name="ReinsuranceLimit"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ApplyStopLossContractMax"/>
				<xs:element name="StopLossContractMaxCap"/>
				<xs:element name="StopLossContract"/>
				<xs:element name="StopLossAmount"/>
				<xs:element name="DisabilityStatus"/>
				<xs:element name="DisabilityBeginDate"/>
				<xs:element name="DisabilityEndDate"/>
				<xs:element name="ConvertedRecord"/>
				<!-- Dependent Alerts Information -->
				<xs:element name="EmployeeViewMyInfo"/>
				<xs:element name="EmployeeDoNotDisplayAlert"/>
				<xs:element name="PartyViewMyInfo"/>
				<xs:element name="PartyDoNotDisplayAlert"/>
				<xs:element name="ResponsibilityParty"/>
				<xs:element name="ClientLocation"/>
				<xs:element name="Department"/>
				<!-- Dependent Medical Coverage -->
				<xs:element name="MBenefitPlan"/>
				<xs:element name="MNetworkChoice"/>
				<xs:element name="MPendClaims"/>
				<xs:element name="MPendReason"/>
				<xs:element name="MBillingFactors">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="MBillingFactor">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="MiscBillingFactor" type="xs:string"/>
										<xs:element name="BillingFactorEffectiveDate" type="xs:date"/>
										<xs:element name="BillingFactorTerminationDate" type="xs:date"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="MConnectorID"/>
				<xs:element name="MProviderType"/>
				<xs:element name="MExistingPatient"/>
				<!-- Dependent Medical COB Information -->
				<xs:element name="MApplyCOB"/>
				<xs:element name="MPayerResponsibility"/>
				<xs:element name="MCOBPolicyNumber"/>
				<xs:element name="MLastInvestigateDate"/>
				<xs:element name="MInvestigatedAfter"/>
				<xs:element name="MCOBRuleset"/>
				<xs:element name="MIgnoreClaimCOBFlag"/>
				<xs:element name="MOtherCovgInJavelina"/>
				<xs:element name="MCOBPatientCertificate"/>
				<xs:element name="MCOBPatientConversionid"/>
				<!-- Pass "Patient Conversion ID in COBPatientconversion id field" for Conversions when 'OtherCovginJavelina' is Y -->
				<xs:element name="MOtherCarrier"/>
				<!-- Dependent Medical ID Card Information -->
				<xs:element name="MPrintIDCard"/>
				<xs:element name="MIDCardFormat"/>
				<xs:element name="MCardPrintReason"/>
				<!-- Dependent Dental Coverage -->
				<xs:element name="DBenefitPlan"/>
				<xs:element name="DNetworkChoice"/>
				<xs:element name="DPendClaims"/>
				<xs:element name="DPendReason"/>
				<xs:element name="DBillingFactors">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DBillingFactor">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="MiscBillingFactor" type="xs:string"/>
										<xs:element name="BillingFactorEffectiveDate" type="xs:date"/>
										<xs:element name="BillingFactorTerminationDate" type="xs:date"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="DConnectorID"/>
				<xs:element name="DProviderType"/>
				<xs:element name="DExistingPatient"/>
				<!-- Dependent Dental COB Information -->
				<xs:element name="DApplyCOB"/>
				<xs:element name="DPayerResponsibility"/>
				<xs:element name="DCOBPolicyNumber"/>
				<xs:element name="DLastInvestigateDate"/>
				<xs:element name="DInvestigatedAfter"/>
				<xs:element name="DCOBRuleset"/>
				<xs:element name="DIgnoreClaimCOBFlag"/>
				<xs:element name="DOtherCovgInJavelina"/>
				<xs:element name="DCOBPatientCertificate"/>
				<xs:element name="DCOBPatientConversionid"/>
				<!-- Pass "Patient Conversion ID in COBPatientconversion id field" for Conversions when 'OtherCovginJavelina' is Y -->
				<xs:element name="DOtherCarrier"/>
				<!-- Dependent Dental ID Card Information -->
				<xs:element name="DPrintIDCard"/>
				<xs:element name="DIDCardFormat"/>
				<xs:element name="DCardPrintReason"/>
				<!-- Dependent Vision Coverage -->
				<xs:element name="VBenefitPlan"/>
				<xs:element name="VNetworkChoice"/>
				<xs:element name="VPendClaims"/>
				<xs:element name="VPendReason"/>
				<xs:element name="VBillingFactors">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="VBillingFactor">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="MiscBillingFactor" type="xs:string"/>
										<xs:element name="BillingFactorEffectiveDate" type="xs:date"/>
										<xs:element name="BillingFactorTerminationDate" type="xs:date"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="VConnectorID"/>
				<xs:element name="VProviderType"/>
				<xs:element name="VExistingPatient"/>
				<!-- Dependent Vision COB Information -->
				<xs:element name="VApplyCOB"/>
				<xs:element name="VPayerResponsibility"/>
				<xs:element name="VCOBPolicyNumber"/>
				<xs:element name="VLastInvestigateDate"/>
				<xs:element name="VInvestigatedAfter"/>
				<xs:element name="VCOBRuleset"/>
				<xs:element name="VIgnoreClaimCOBFlag"/>
				<xs:element name="VOtherCovgInJavelina"/>
				<xs:element name="VCOBPatientCertificate"/>
				<xs:element name="VCOBPatientConversionid"/>
				<!-- Pass "Patient Conversion ID in COBPatientconversion id field" for Conversions when 'OtherCovginJavelina' is Y -->
				<xs:element name="VOtherCarrier"/>
				<!-- Dependent Vision ID Card Information -->
				<xs:element name="VPrintIDCard"/>
				<xs:element name="VIDCardFormat"/>
				<xs:element name="VCardPrintReason"/>
				<!-- Dependent Prescription Coverage -->
				<xs:element name="PBenefitPlan"/>
				<xs:element name="PNetworkChoice"/>
				<xs:element name="PPendClaims"/>
				<xs:element name="PPendReason"/>
				<xs:element name="PBillingFactors">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PBillingFactor">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="MiscBillingFactor" type="xs:string"/>
										<xs:element name="BillingFactorEffectiveDate" type="xs:date"/>
										<xs:element name="BillingFactorTerminationDate" type="xs:date"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="PConnectorID"/>
				<xs:element name="PProviderType"/>
				<xs:element name="PExistingPatient"/>
				<!-- Dependent Prescription COB Information -->
				<xs:element name="PApplyCOB"/>
				<xs:element name="PPayerResponsibility"/>
				<xs:element name="PCOBPolicyNumber"/>
				<xs:element name="PLastInvestigateDate"/>
				<xs:element name="PInvestigatedAfter"/>
				<xs:element name="PCOBRuleset"/>
				<xs:element name="PIgnoreClaimCOBFlag"/>
				<xs:element name="POtherCovgInJavelina"/>
				<xs:element name="PCOBPatientCertificate"/>
				<xs:element name="PCOBPatientConversionid"/>
				<!-- Pass "Patient Conversion ID in COBPatientconversion id field" for Conversions when 'OtherCovginJavelina' is Y -->
				<xs:element name="POtherCarrier"/>
				<!-- Dependent Prescription ID Card Information -->
				<xs:element name="PPrintIDCard"/>
				<xs:element name="PIDCardFormat"/>
				<xs:element name="PCardPrintReason"/>
				<!-- Dependent FLEX Coverage - Used ONLY if Employee has FLEX Coverage -->
				<xs:element name="FlexCoverage"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- Dependent RecordsList -->
	<xs:element name="DependentRecordsList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DependentRecord" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DependentRecord">
		<xs:complexType>
			<xs:sequence>
				<!-- Dependent Personal Information -->
				<xs:element name="Conversionid"/>
				<xs:element name="DependentCertificateNumber"/>
				<xs:element name="DepNumber"/>
				<xs:element name="DepSSN"/>
				<xs:element name="AlternateID1"/>
				<xs:element name="AlternateID2"/>
				<xs:element name="BlkOfBusID"/>
				<xs:element name="ClientID"/>
				<xs:element name="EmployeeCertificateNumber"/>
				<!-- Pass "Employee Conversion ID" for Conversions -->
				<xs:element name="EmployeeSSN"/>
				<xs:element name="EmployeeID"/>
				<xs:element name="Title"/>
				<xs:element name="FirstName"/>
				<xs:element name="MiddleName"/>
				<xs:element name="LastName"/>
				<xs:element name="Suffix"/>
				<xs:element name="MedicareID"/>
				<xs:element name="DepSequenceNumber"/>
				<xs:element name="RelationshipToEmployee"/>
				<xs:element name="StudentStatus"/>
				<xs:element name="BirthDate"/>
				<xs:element name="Gender"/>
				<xs:element name="AlternateID"/>
				<xs:element name="AlternatePayee"/>
				<!-- Dependent Contact Information -->
				<xs:element name="HomePhone1"/>
				<xs:element name="HomePhone1Ext"/>
				<xs:element name="HomePhone2"/>
				<xs:element name="HomePhone2Ext"/>
				<xs:element name="WorkPhone1"/>
				<xs:element name="WorkPhone1Ext"/>
				<xs:element name="WorkPhone2"/>
				<xs:element name="WorkPhone2Ext"/>
				<xs:element name="MobilePhone1"/>
				<xs:element name="MobilePhone2"/>
				<xs:element name="FaxPhone1"/>
				<xs:element name="FaxPhone2"/>
				<xs:element name="Email"/>
				<xs:element name="Languages"/>
				<!-- Dependent Residence Address -->
				<xs:element name="REffectiveDate"/>
				<xs:element name="RAddressLine1"/>
				<xs:element name="RAddressLine2"/>
				<xs:element name="RAddressLine3"/>
				<xs:element name="RCity"/>
				<xs:element name="RState"/>
				<xs:element name="RPostalCode"/>
				<xs:element name="RCounty"/>
				<xs:element name="RCountry"/>
				<xs:element name="ROverride"/>
				<!-- "Include in Tax Calculation" & "Include in GME Covered Lives Calculation" are defaulted based on the State -->
				<!-- Dependent Mailing Address -->
				<xs:element name="MEffectiveDate"/>
				<xs:element name="MAlternateMailingName"/>
				<xs:element name="MAddressLine1"/>
				<xs:element name="MAddressLine2"/>
				<xs:element name="MAddressLine3"/>
				<xs:element name="MPostalCode"/>
				<xs:element name="MState"/>
				<xs:element name="MCity"/>
				<xs:element name="MCounty"/>
				<xs:element name="MCountry"/>
				<xs:element name="MOverride"/>
				<!-- Dependent Custodial Information -->
				<xs:element name="CTitle"/>
				<xs:element name="CFirstName"/>
				<xs:element name="CMiddleName"/>
				<xs:element name="CLastName"/>
				<xs:element name="IdentificationCode"/>
				<!-- Dependent Custodial Information - Contact Information -->
				<xs:element name="CHomePhone1"/>
				<xs:element name="CHomePhone1Ext"/>
				<xs:element name="CHomePhone2"/>
				<xs:element name="CHomePhone2Ext"/>
				<xs:element name="CWorkPhone1"/>
				<xs:element name="CWorkPhone1Ext"/>
				<xs:element name="CWorkPhone2"/>
				<xs:element name="CWorkPhone2Ext"/>
				<xs:element name="CMobilePhone1"/>
				<xs:element name="CMobilePhone2"/>
				<xs:element name="CFaxPhone1"/>
				<xs:element name="CFaxPhone2"/>
				<!-- Dependent Custodial Information - Address -->
				<xs:element name="CEffectiveDate"/>
				<xs:element name="CAddressLine1"/>
				<xs:element name="CAddressLine2"/>
				<xs:element name="CAddressLine3"/>
				<xs:element name="CCity"/>
				<xs:element name="CState"/>
				<xs:element name="CPostalCode"/>
				<xs:element name="CCounty"/>
				<xs:element name="CCountry"/>
				<xs:element name="COverride"/>
				<!-- Dependent Responsible Party Information -->
				<xs:element name="RPTitle"/>
				<xs:element name="RPFirstName"/>
				<xs:element name="RPMiddleName"/>
				<xs:element name="RPLastName"/>
				<xs:element name="RPIdentificationCode"/>
				<xs:element name="ResponsibleType"/>
				<!-- Dependent Responsible Party Information - Contact Information-->
				<xs:element name="RPHomePhone1"/>
				<xs:element name="RPHomePhone1Ext"/>
				<xs:element name="RPHomePhone2"/>
				<xs:element name="RPHomePhone2Ext"/>
				<xs:element name="RPWorkPhone1"/>
				<xs:element name="RPWorkPhone1Ext"/>
				<xs:element name="RPWorkPhone2"/>
				<xs:element name="RPWorkPhone2Ext"/>
				<xs:element name="RPMobilePhone1"/>
				<xs:element name="RPMobilePhone2"/>
				<xs:element name="RPFaxPhone1"/>
				<xs:element name="RPFaxPhone2"/>
				<!-- Dependent Responsible Party Information - Address -->
				<xs:element name="RPEffectiveDate"/>
				<xs:element name="RPAddressLine1"/>
				<xs:element name="RPAddressLine2"/>
				<xs:element name="RPAddressLine3"/>
				<xs:element name="RPCity"/>
				<xs:element name="RPState"/>
				<xs:element name="RPPostalCode"/>
				<xs:element name="RPCounty"/>
				<xs:element name="RPCountry"/>
				<xs:element name="RPOverride"/>
				<!-- Dependent Education Information -->
				<xs:element name="SchoolName"/>
				<xs:element name="SemesterHours"/>
				<!-- Dependent Education Information - Contact Information -->
				<xs:element name="EHomePhone1"/>
				<xs:element name="EHomePhone1Ext"/>
				<xs:element name="EHomePhone2"/>
				<xs:element name="EHomePhone2Ext"/>
				<xs:element name="EWorkPhone1"/>
				<xs:element name="EWorkPhone1Ext"/>
				<xs:element name="EWorkPhone2"/>
				<xs:element name="EWorkPhone2Ext"/>
				<xs:element name="EMobilePhone1"/>
				<xs:element name="EMobilePhone2"/>
				<xs:element name="EFaxPhone1"/>
				<xs:element name="EFaxPhone2"/>
				<!-- Dependent Education Information - Address -->
				<xs:element name="EEffectiveDate"/>
				<xs:element name="EAddressLine1"/>
				<xs:element name="EAddressLine2"/>
				<xs:element name="EAddressLine3"/>
				<xs:element name="ECity"/>
				<xs:element name="EState"/>
				<xs:element name="EPostalCode"/>
				<xs:element name="ECounty"/>
				<xs:element name="ECountry"/>
				<!-- Dependent Education Information -  Registrar Information -->
				<xs:element name="RRSchoolName"/>
				<xs:element name="RRSemesterHours"/>
				<!-- Dependent Education Information -  Registrar Contact Information -->
				<xs:element name="RRHomePhone1"/>
				<xs:element name="RRHomePhone1Ext"/>
				<xs:element name="RRHomePhone2"/>
				<xs:element name="RRHomePhone2Ext"/>
				<xs:element name="RRWorkPhone1"/>
				<xs:element name="RRWorkPhone1Ext"/>
				<xs:element name="RRWorkPhone2"/>
				<xs:element name="RRWorkPhone2Ext"/>
				<xs:element name="RRMobilePhone1"/>
				<xs:element name="RRMobilePhone2"/>
				<xs:element name="RRFaxPhone1"/>
				<xs:element name="RRFaxPhone2"/>
				<!-- Dependent Education Information -  Registrar Address Information -->
				<xs:element name="RREffectiveDate"/>
				<xs:element name="RRAddressLine1"/>
				<xs:element name="RRAddressLine2"/>
				<xs:element name="RRAddressLine3"/>
				<xs:element name="RRCity"/>
				<xs:element name="RRState"/>
				<xs:element name="RRPostalCode"/>
				<xs:element name="RRCounty"/>
				<xs:element name="RRCountry"/>
				<!-- Dependent Processing Information -->
				<xs:element name="PayChecksToEmployee"/>
				<xs:element name="MailEOBsToEmployee"/>
				<xs:element name="SelectEOBAddress"/>
				<!-- JV-41478 Will be available in Sprint C -->
				<xs:element name="SelectPaymentAddress"/>
				<xs:element name="PayeeName"/>
				<xs:element name="ExpediteClaims"/>
				<xs:element name="MedicallyUnderwritten"/>
				<xs:element name="BusinessTakeover"/>
				<xs:element name="LateEntrant"/>
				<xs:element name="EnrollmentDate"/>
				<xs:element name="MailPaperEOB"/>
				<xs:element name="ReceiveMail"/>
				<!-- Dependent Health Information -->
				<xs:element name="Height"/>
				<xs:element name="Weight"/>
				<xs:element name="Handicap"/>
				<xs:element name="Health"/>
				<xs:element name="DeathDate"/>
				<xs:element name="Race"/>
				<xs:element name="Citizenship"/>
				<!-- Dependent User Defined Fields -->
				<xs:element name="UserDefinedField1"/>
				<xs:element name="UserDefinedField2"/>
				<xs:element name="UserDefinedField3"/>
				<xs:element name="UserDefinedField4"/>
				<xs:element name="UserDefinedField5"/>
				<xs:element name="UserDefinedField6"/>
				<!-- Dependent Comments -->
				<xs:element name="Comments"/>
				<!-- Prior Healthcare Information -->
				<xs:element name="HIPAACreditableCovgDate"/>
				<xs:element name="FormerHealthPlanName"/>
				<xs:element name="Enrollee"/>
				<!-- Start of Prior Coverage -->
				<xs:element name="PriorCoverageList" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PriorCoverage" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="FromDate" type="xs:date"/>
										<xs:element name="BenefitPlan" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<!-- End of Prior Coverage -->
				<!-- Start of Preexisting Conditions -->
				<xs:element name="MPreexistingConditions" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PreexistingConditions" type="xs:string"/>
							<!-- Preexisting Conditions can be Y or N or U -->
							<xs:element name="InvestigationCompletedDate" type="xs:date"/>
							<xs:element name="PreexistingConditionsList" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="PreexistingConditionsInfo" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="CategoryName" type="xs:string"/>
													<xs:element name="ExpirationDate" type="xs:date"/>
													<xs:element name="BenefitPaid" type="xs:decimal"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="DPreexistingConditions" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PreexistingConditions" type="xs:string"/>
							<!-- Preexisting Conditions can be Y or N or U -->
							<xs:element name="InvestigationCompletedDate" type="xs:date"/>
							<xs:element name="PreexistingConditionsList" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="PreexistingConditionsInfo" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="CategoryName" type="xs:string"/>
													<xs:element name="ExpirationDate" type="xs:date"/>
													<xs:element name="BenefitPaid" type="xs:decimal"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="VPreexistingConditions" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PreexistingConditions" type="xs:string"/>
							<!-- Preexisting Conditions can be Y or N or U -->
							<xs:element name="InvestigationCompletedDate" type="xs:date"/>
							<xs:element name="PreexistingConditionsList" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="PreexistingConditionsInfo" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="CategoryName" type="xs:string"/>
													<xs:element name="ExpirationDate" type="xs:date"/>
													<xs:element name="BenefitPaid" type="xs:decimal"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="PPreexistingConditions" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PreexistingConditions" type="xs:string"/>
							<!-- Preexisting Conditions can be Y or N or U -->
							<xs:element name="InvestigationCompletedDate" type="xs:date"/>
							<xs:element name="PreexistingConditionsList" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="PreexistingConditionsInfo" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="CategoryName" type="xs:string"/>
													<xs:element name="ExpirationDate" type="xs:date"/>
													<xs:element name="BenefitPaid" type="xs:decimal"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<!-- End of Preexisting Conditions-->
				<!-- raise ticket to add this dynamically -->
				<!-- Dependent Coverage List -->
				<xs:element ref="DependentCoverageList" maxOccurs="unbounded"/>
				<!-- Dependent CMS111 Node -->
				<xs:element ref="CMS111" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- Employee Record List -->
	<xs:element name="EmployeeRecordsList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="EmployeeRecord" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- CMS record -->
	<xs:element name="CMS111">
		<xs:complexType>
			<xs:sequence>
				<!-- Begin CMS 111 Information -->
				<xs:element name="SMHealthInsuranceClaimNum"/>
				<xs:element name="SMIndividualPolicyNumber"/>
				<xs:element name="SMMedicareEntitlement"/>
				<xs:element name="SMMSPEffDate"/>
				<xs:element name="SMMSPTermDate"/>
				<xs:element name="SMESRDCoordPeriodEffDate"/>
				<xs:element name="SMESRDCoordPeriodTermDate"/>
				<xs:element name="SMFirstDialysisDate"/>
				<xs:element name="SMESRDSelfTrainingDate"/>
				<xs:element name="SMTransplantDate"/>
				<xs:element name="SMTransplantFailureDate"/>
				<xs:element name="SMMedPartAEffDate"/>
				<xs:element name="SMMedPartATermDate"/>
				<xs:element name="SMMediPartBEffDate"/>
				<xs:element name="SMMedPartBTermDate"/>
				<xs:element name="SMMedPartCContractorNum"/>
				<xs:element name="SMMedPartCEnrollDate"/>
				<xs:element name="SMMedPartCTermDate"/>
				<xs:element name="SMMedPartDContractorNum"/>
				<xs:element name="SMMedPartDEnrollDate"/>
				<xs:element name="SMMedPartDTermDate"/>
				<xs:element name="SMMedPartDEligStartDate"/>
				<xs:element name="SMMedPartDEligStopDate"/>
				<xs:element name="SMLastMSPQueryDate"/>
				<xs:element name="SMRXInsuredIDNum"/>
				<xs:element name="SMRXGroupNum"/>
				<xs:element name="SMRXPCN"/>
				<xs:element name="SMRXBIN"/>
				<xs:element name="SMRXTollFreeNumber"/>
				<xs:element name="SMRDSStartDate"/>
				<xs:element name="SMRDSEndDate"/>
				<xs:element name="SMESRD"/>
				<xs:element name="SMDisabled"/>
				<xs:element name="SMNonMSPQuery"/>
				<xs:element name="SMNONMSPQueryDispCode"/>
				<xs:element name="SMNONMSPQueryDispDate"/>
				<xs:element name="SMExtractedDate"/>
				<xs:element name="SMSplitEntitlement"/>
				<xs:element name="SMQueryOnlyDispCode"/>
				<xs:element name="SMSEERespCode"/>
				<xs:element name="SMMSPDispCode"/>
				<xs:element name="SMMSPDispDate"/>
				<xs:element name="SMRDSSplitIndicator"/>
				<xs:element name="SMRDSReasonCode"/>
				<xs:element name="SMRDSDeterIndicator"/>
				<xs:element name="errorcode1"/>
				<xs:element name="errorcode2"/>
				<xs:element name="errorcode3"/>
				<xs:element name="errorcode4"/>
				<xs:element name="errorcode5"/>
				<xs:element name="errorcode6"/>
				<xs:element name="errorcode7"/>
				<xs:element name="errorcode8"/>
				<xs:element name="rxsdispositioncode"/>
				<xs:element name="rxsdispositiondate"/>
				<xs:element name="dndispositioncode"/>
				<xs:element name="dndispositiondate"/>
				<xs:element name="NonMSP"/>
				<xs:element name="rxerrorcode1"/>
				<xs:element name="rxerrorcode2"/>
				<xs:element name="rxerrorcode3"/>
				<xs:element name="rxerrorcode4"/>
				<xs:element name="EmployerException"/>
				<xs:element name="EmployerExceptionStartDate"/>
				<xs:element name="EmployerExceptionEndDate"/>
				<xs:element name="SMSendtoCOBAforMedicareCrossover"/>
				<xs:element name="SMLateSubmissionIndicator"/>
				<!-- END CMS 111 Information -->
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- Employee Record -->
	<xs:element name="EmployeeRecord">
		<xs:complexType>
			<xs:sequence>
				<!-- Employee Personal Information -->
				<xs:element name="Conversionid"/>
				<xs:element name="BlkOfBusID"/>
				<xs:element name="ClientID"/>
				<xs:element name="EmployeeCertificateNumber"/>
				<xs:element name="EmployeeSSN"/>
				<xs:element name="AlternateID1"/>
				<xs:element name="AlternateID2"/>
				<xs:element name="Title"/>
				<xs:element name="FirstName"/>
				<xs:element name="MiddleName"/>
				<xs:element name="LastName"/>
				<xs:element name="Suffix"/>
				<xs:element name="MedicareID"/>
				<xs:element name="BirthDate"/>
				<xs:element name="Gender"/>
				<xs:element name="MaritalStatus"/>
				<xs:element name="AsOfDate"/>
				<xs:element name="Email"/>
				<xs:element name="AlternatePayee"/>
				<xs:element name="Languages"/>
				<!-- Employee Contact Information -->
				<xs:element name="HomePhone1"/>
				<xs:element name="HomePhone1Ext"/>
				<xs:element name="HomePhone2"/>
				<xs:element name="HomePhone2Ext"/>
				<xs:element name="WorkPhone1"/>
				<xs:element name="WorkPhone1Ext"/>
				<xs:element name="WorkPhone2"/>
				<xs:element name="WorkPhone2Ext"/>
				<xs:element name="MobilePhone1"/>
				<xs:element name="MobilePhone2"/>
				<xs:element name="FaxPhone1"/>
				<xs:element name="FaxPhone2"/>
				<!-- Employee Residence Address -->
				<xs:element name="REffectiveDate"/>
				<xs:element name="RAddressLine1"/>
				<xs:element name="RAddressLine2"/>
				<xs:element name="RAddressLine3"/>
				<xs:element name="RCity"/>
				<xs:element name="RState"/>
				<xs:element name="RPostalCode"/>
				<xs:element name="RCounty"/>
				<xs:element name="RCountry"/>
				<xs:element name="ROverride"/>
				<!-- Employee Mailing Address -->
				<xs:element name="MEffectiveDate"/>
				<xs:element name="MAlternateMailingName"/>
				<xs:element name="MAddressLine1"/>
				<xs:element name="MAddressLine2"/>
				<xs:element name="MAddressLine3"/>
				<xs:element name="MCity"/>
				<xs:element name="MState"/>
				<xs:element name="MPostalCode"/>
				<xs:element name="MCounty"/>
				<xs:element name="MCountry"/>
				<xs:element name="MOverride"/>
				<!-- Employee Processing Information -->
				<xs:element name="ExpediteClaims"/>
				<xs:element name="MedicallyUnderwritten"/>
				<xs:element name="BusinessTakeover"/>
				<xs:element name="LateEntrant"/>
				<xs:element name="EnrollmentDate"/>
				<xs:element name="ReceiveMail"/>
				<xs:element name="MailPaperEOB"/>
				<xs:element name="SelectPaymentAddress"/>
				<xs:element name="SelectEOBAddress"/>
				<!-- Employee Health Information -->
				<xs:element name="Height"/>
				<xs:element name="Weight"/>
				<xs:element name="Health"/>
				<xs:element name="Beneficiary"/>
				<xs:element name="Race"/>
				<xs:element name="Citizenship"/>
				<xs:element name="Handicap"/>
				<xs:element name="DeathDate"/>
				<!-- Employee User Defined Fields -->
				<xs:element name="UserDefinedField1"/>
				<xs:element name="UserDefinedField2"/>
				<xs:element name="UserDefinedField3"/>
				<xs:element name="UserDefinedField4"/>
				<xs:element name="UserDefinedField5"/>
				<xs:element name="UserDefinedField6"/>
				<!-- Employee Comments -->
				<xs:element name="Comments"/>
				<!-- Prior Healthcare Information -->
				<xs:element name="HIPAACreditableCovgDate"/>
				<xs:element name="FormerHealthPlanName"/>
				<xs:element name="CheckingAccountNum"/>
				<xs:element name="Enrollee"/>
				<!-- Start of Prior Coverage -->
				<xs:element name="PriorCoverageList" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PriorCoverage" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="FromDate" type="xs:date"/>
										<xs:element name="BenefitPlan" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<!-- End of Prior Coverage -->
				<!-- Start of Preexisting Conditions -->
				<xs:element name="MPreexistingConditions" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PreexistingConditions" type="xs:string"/>
							<!-- Preexisting Conditions can be Y or N or U -->
							<xs:element name="InvestigationCompletedDate" type="xs:date"/>
							<xs:element name="PreexistingConditionsList" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="PreexistingConditionsInfo" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="CategoryName" type="xs:string"/>
													<xs:element name="ExpirationDate" type="xs:date"/>
													<xs:element name="BenefitPaid" type="xs:decimal"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="DPreexistingConditions" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PreexistingConditions" type="xs:string"/>
							<!-- Preexisting Conditions can be Y or N or U -->
							<xs:element name="InvestigationCompletedDate" type="xs:date"/>
							<xs:element name="PreexistingConditionsList" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="PreexistingConditionsInfo" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="CategoryName" type="xs:string"/>
													<xs:element name="ExpirationDate" type="xs:date"/>
													<xs:element name="BenefitPaid" type="xs:decimal"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="VPreexistingConditions" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PreexistingConditions" type="xs:string"/>
							<!-- Preexisting Conditions can be Y or N or U -->
							<xs:element name="InvestigationCompletedDate" type="xs:date"/>
							<xs:element name="PreexistingConditionsList" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="PreexistingConditionsInfo" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="CategoryName" type="xs:string"/>
													<xs:element name="ExpirationDate" type="xs:date"/>
													<xs:element name="BenefitPaid" type="xs:decimal"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="PPreexistingConditions" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PreexistingConditions" type="xs:string"/>
							<!-- Preexisting Conditions can be Y or N or U -->
							<xs:element name="InvestigationCompletedDate" type="xs:date"/>
							<xs:element name="PreexistingConditionsList" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="PreexistingConditionsInfo" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="CategoryName" type="xs:string"/>
													<xs:element name="ExpirationDate" type="xs:date"/>
													<xs:element name="BenefitPaid" type="xs:decimal"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<!-- End of Preexisting Conditions-->
				<!-- Begin Employee CMS 111 Information -->
				<xs:element ref="CMS111" maxOccurs="1"/>
				<!-- END Employee CMS 111 Information -->
				<!-- Create Ticket to add this -->
				<!-- BillingAdmin Node is used ONLY by HCC -->
				<xs:element ref="BillingAdmin" maxOccurs="1"/>
				<!-- Employee Coverage List -->
				<xs:element ref="EmployeeCoverageList" maxOccurs="unbounded"/>
				<!-- Dependent Record List -->
				<xs:element ref="DependentRecordsList" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BillingAdmin">
		<xs:complexType>
			<xs:sequence>
				<!-- HCC Billing & Admin Info Begins JL-23711. The BillingAdmin node is to ONLY be used by HCC.
  			Other clients should not include the BillingAdmin node in their XML files-->
				<xs:element name="EBilling"/>
				<!-- eBilling option -->
				<xs:element name="CardNumber"/>
				<!-- Credit Card Number, Check Number, Wire Number, etc. -->
				<xs:element name="CardExpDate"/>
				<!-- Credit Card Expiration Date -->
				<xs:element name="TokenNumberFlag"/>
				<xs:element name="EmailID"/>
				<!-- e-mail address -->
				<xs:element name="CardName"/>
				<!-- Cardholder Name -->
				<xs:element name="CardAddressLine1"/>
				<!-- Cardholder Address Line 1 -->
				<xs:element name="CardAddressLine2"/>
				<!-- Cardholder Address Line 2 -->
				<xs:element name="CardCity"/>
				<!-- Cardholder City -->
				<xs:element name="CardState"/>
				<!-- Cardholder State -->
				<xs:element name="CardZip"/>
				<!-- Cardholder Postal Code -->
				<xs:element name="CardCountry"/>
				<!-- Cardholder Country -->
				<xs:element name="Status"/>
				<!-- Billing Status (Aborted, Failed, Scheduled, Successful, Received, Billed, Check Rqst, Check Paid, or Refunded)	 -->
				<xs:element name="TransactionID"/>
				<!-- PayPal/Verisign Transaction Number -->
				<xs:element name="DueDate"/>
				<!-- Due Date of the Payment -->
				<xs:element name="TotalAmount"/>
				<!-- Total Amount of Payment  -->
				<xs:element name="Amount"/>
				<!-- Amount of 1st Payment (Installments)  -->
				<xs:element name="AgentID"/>
				<!-- Agent Number -->
				<xs:element name="AuthCode"/>
				<!-- PayPal/Verisign Authorization Number -->
				<xs:element name="MMPremium"/>
				<!-- Medical Premium -->
				<xs:element name="MBillingFactorID"/>
				<!-- Medical Billing Factor ID -->
				<xs:element name="MBillingFactorEffDate"/>
				<!-- Medical Billing Factor Effective Date -->
				<xs:element name="LPremium"/>
				<!-- Life Insurance Premium -->
				<xs:element name="LBillingFactorID"/>
				<!-- Life Insurance Billing Factor ID -->
				<xs:element name="LBillingFactorEffDate"/>
				<!-- Life Insurance Billing Factor Effective Date -->
				<xs:element name="DEPremium"/>
				<!-- Dental Premium -->
				<xs:element name="DEBillingFactorID"/>
				<!-- Dental Billing Factor ID -->
				<xs:element name="DEBillingFactorEffDate"/>
				<!-- Dental Billing Factor Effective Date -->
				<xs:element name="RXPremium"/>
				<!-- Prescription Premium -->
				<xs:element name="RXBillingFactorID"/>
				<!-- Prescription Billing Factor ID -->
				<xs:element name="RXBillingFactorEffDate"/>
				<!-- Prescription Billing Factor Effective Date -->
				<xs:element name="VIPremium"/>
				<!-- Vision Premium -->
				<xs:element name="VIBillingFactorID"/>
				<!-- Vision Billing Factor ID -->
				<xs:element name="VIBillingFactorEffDate"/>
				<!-- Vision Billing Factor Effective Date -->
				<xs:element name="SPremium"/>
				<!-- Sports Premium -->
				<xs:element name="SBillingFactorID"/>
				<!-- Sports Billing Factor ID -->
				<xs:element name="SBillingFactorEffDate"/>
				<!-- Sports Billing Factor Effective Date -->
				<xs:element name="PaymentCodeRetval"/>
				<!-- PayPal/Verisign Return Code Number -->
				<xs:element name="PaymentResponse"/>
				<!-- PayPal/Verisign Response (in Text) -->
				<xs:element name="TransactionDate"/>
				<!-- Transaction Date -->
				<xs:element name="TransactionTime"/>
				<!-- Transaction Time -->
				<xs:element name="PaymentMethod"/>
				<!-- Payment Method (MasterCard, VISA, Discover, American Express, Check, Wire) -->
				<xs:element name="TransactionType"/>
				<!-- Transaction Type (New, Renewal, Extension, Cancellation, Bank of Days Prepayment) -->
				<xs:element name="ContactName"/>
				<!-- Contact Name -->
				<xs:element name="Encrypted"/>
				<!-- Cardnumber Field Encrypted Flag.  Check Numbers and Wire Numbers are not encrypted -->
				<xs:element name="TypeOfPayment"/>
				<!-- In full or Installments -->
				<xs:element name="Form_name"/>
				<!-- Billing Format -->
				<xs:element name="SortMethod"/>
				<!-- Sort Method ("Last Name", "Employee ID", "Department and Last Name", "Department, Employee Status, Last Name")-->
				<!-- HCC Billing & Admin Info Ends JL-23711 -->
				<xs:element name="MiscellaneousFees" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:all>
							<xs:element name="BillingFeeAmount" type="xs:decimal"/>
							<!--Miscellaneous Fee Amount -->
							<xs:element name="FeeDescription">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1"/>
										<xs:maxLength value="60"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<!--Miscellaneous Fee Description-->
							<xs:element name="FeeBroker">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1"/>
										<xs:maxLength value="11"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<!--Miscellaneous Fee Broker-->
							<xs:element name="FeeType">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1"/>
										<xs:maxLength value="1"/>
										<xs:enumeration value="A"/>
										<xs:enumeration value="B"/>
										<xs:enumeration value="E"/>
										<xs:enumeration value="O"/>
										<xs:enumeration value="a"/>
										<xs:enumeration value="b"/>
										<xs:enumeration value="e"/>
										<xs:enumeration value="o"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<!--Miscellaneous Fee Type | (A)nnual, (B)ill Cycle, (E)nrollment, (O)ne Time-->
						</xs:all>
					</xs:complexType>
				</xs:element>
				<!--Miscellaenous Fee Information-->
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
